{% extends 'siteapp/layout.html' %}
{% load static %}

{% block css_editional %}
    <link rel="stylesheet" type="text/css" href="{% static 'siteapp/css/style.css' %}">
{% endblock %}



{% block title %}Main page{% endblock %}


{% block content %}
          <div class="col-md-5 p-lg-5 mx-auto my-5">
              {% for post in posts %}
                    {% if post.is_published %}
                        <div class="col- p-lg-3 mx-auto my-3">


                        {% if post.photo %}
                            <p><img class="countrie_list_photo"src="{{post.photo.url}}"></p>
                        {% endif %}

                            <h1><a href="{% url 'post' pk=post.pk %}">{{ post.title }}</a></h1>
                            <h5><font size="6" color="#4A235A">Created: {{ post.time_create }}</font></h5>
                        </div>
                    {% endif %}
              {% endfor %}

          </div>
          <div class="product-device box-shadow d-none d-md-block"></div>
          <div class="product-device product-device-2 box-shadow d-none d-md-block"></div>
{% endblock %}

